// MEDIA
$bpLaptopMax: 1200px;
$bpLaptopMin: 1023.98px;
$bpTablet: 767.98px;
$bpMobile: 424.98px;

// additional color for background
$addColorBg: #eeeff1;

// additional color for text
$addColorText: #646464;

// main color for elements
$mainColorElements: linear-gradient(2.79deg, #f35f2f -13.68%, #f36130bf 121.16%);

// main color for elements
$hoverColorElements: linear-gradient(2.79deg, #f36130bf -13.68%, #f3602f 121.16%);
